.env
/txt

# User uploads
/public/images/*
!/public/images/default_pfp.jpg

# dis is a file with no content (maybe except one), just to keep the folder structure in the repo
!/public/images/.gitkeep  
